<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Virtual ILI - Home</title>
  <link rel="icon" type="image/x-icon" href="https://tse2.mm.bing.net/th?id=OIP.wylsTKEVVzH4KiOugumQyAHaHa&pid=Api&P=0&h=180">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body class="bg">
  <div class="center-card">
    <div class="card">
      <h1>Virtual ILI Predictor</h1>
      <p>Click below to upload pipeline data and predict corrosion risks.</p>
      <a href="{{ url_for('index') }}" class="btn">Start Prediction</a>
    </div>
  </div>
</body>
</html>
