<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Upload Pipeline CSV</title>
  <link rel="icon" type="image/x-icon" href="https://tse2.mm.bing.net/th?id=OIP.wylsTKEVVzH4KiOugumQyAHaHa&pid=Api&P=0&h=180">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body class="bg">
  <div class="container">
    <h1>Upload Pipeline Data</h1>
    <form method="POST" action="/predict" enctype="multipart/form-data">
      <label for="file">Upload CSV File:</label>
      <input type="file" name="file" accept=".csv" required />
      <button type="submit" class="btn">Predict</button>
    </form>
    <a class="template-link" href="{{ url_for('static', filename='template.csv') }}">Download CSV Template</a>
  </div>
</body>
</html>
